.main {
    background: linear-gradient(262.03deg, #094774 1.73%, #094774 36.19%, #136BAB 113.87%);
    padding: 150px;
    height: 100vh;

    &__wrapper {
        width: 850px;
        margin: 0 auto;
        background-color: #fff;
        padding: 12px;
        
        display: flex;
        justify-content: space-between;

        &-info {
            width: 563px;
            display: flex;
            flex-direction: column;
            position: relative;

            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                opacity: .8;
            }


            a {
                display: block;
                position: absolute;
                right: 0;
                bottom: 10px;
                padding: 8px 12px;
                background-color: #E11D48;
                border: 1px solid #BE185D;
                border-radius: 4px;
                cursor: pointer;

                color: #fff;
                text-decoration: none;
         
                &:hover {
                    background-color: #BE185D;
                }
            }

        }
    }
}